html {
  font-size: 16px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.keyboard-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s;
  width: 50px; 
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .key {
    font-size: 1rem;
    width: 8rem;
    margin: 0.5rem;
    padding: 0.5rem 0.25rem;
  }

  kbd {
    font-size: 3rem;
  }

  .sound {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .key {
    font-size: 0.8rem;
    width: 6rem;
    margin: 0.5rem;
    padding: 0.5rem 0.25rem;
  }

  kbd {
    font-size: 2.5rem;
  }

  .sound {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .key {
    width: 30px;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 0.25rem;
  }
}
